@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');



.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
 background: rgb(63,94,251);
background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
}

h1 {
  margin: 30px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-shadow: 5px 0 #232931;
  font-size: 8rem;
  color: #ffffff;
}

p {
  font-size: 2rem;
  color: #4ECCA3;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 80%;
}
